extends layout 

block content
  h1=title 
  p #{item.title} Details

  a(href=item.url) #{item.title}
  p description: #{item.description}
  p price: #{item.price}
  p quantity: #{item.quantity}
  p category: #{item.category.type}

  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item